{% extends "layout.html"%}

{% block content %}
<div class="cv__content">
    <!-- CV: Services Section -->
    <section id="tips" class="section_tips">
        <div class="section_title">
            <h3>Enunciado de los retos</h3>
        </div>
        <p id="color1">Tripulantes, les comparto el enunciado de cada variante de los retos</p>
        <br>
        <div class="tips_content">
            <ul class="modal_items" data-from="blog" data-count="6">
                <li>
                    <div class="item modal_item" data-index="1">
                        <div class="item_left">
                            <p>Fecha de entrega: hasta el 15 mayo 2022</p>
                            <h5><a href="#">Reto 1 variante 1</a></h5>
                            <embed src="/static/img/enunciados_reto_1/Reto1_documento1.pdf" type="application/pdf" width="100%" height="600px" />
                            <a href="{{ url_for('solution') }}" target="_blank" class="read_more">Ver solución</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item modal_item" data-index="1">
                        <div class="item_left">
                            <p>Fecha de entrega: hasta el 15 mayo 2022</p>
                            <h5><a href="#">Reto 1 variante 2</a></h5>
                            <embed src="/static/img/enunciados_reto_1/Reto1_documento2.pdf" type="application/pdf" width="100%" height="600px" />
                            <a href="{{ url_for('solution') }}" target="_blank" class="read_more">Ver solución</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item modal_item" data-index="1">
                        <div class="item_left">
                            <p>Fecha de entrega: hasta el 15 mayo 2022</p>
                            <h5><a href="#">Reto 1 variante 3</a></h5>
                            <embed src="/static/img/enunciados_reto_1/Reto1_documento3.pdf" type="application/pdf" width="100%" height="600px" />
                            <a href="{{ url_for('solution') }}" target="_blank" class="read_more">Ver solución</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item modal_item" data-index="1">
                        <div class="item_left">
                            <p>Fecha de entrega: hasta el 15 mayo 2022</p>
                            <h5><a href="#">Reto 1 variante 4</a></h5>
                            <embed src="/static/img/enunciados_reto_1/Reto1_documento4.pdf" type="application/pdf" width="100%" height="600px" />
                            <a href="{{ url_for('solution') }}" target="_blank" class="read_more">Ver solución</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="load_more">
            <a href="#" data-done="Done" data-no="No más artículos encontrados">
                <span class="text">Cargar más retos</span>
                <span class="fn__pulse">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
        </div>
    </section>


</div>
{% endblock %}